.woburn-logo{
    height: 80px;
    padding: 3px;
}
.nav-ul{
    color: #F0F8FF;
}
.hero-image{
    width: 100%;
    height: 500px;
    object-fit: cover;
    opacity: 0.5;
}
.img-div{
    position: relative;
    text-align: center;

}
.hero-text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 250%;
}
.hero-text2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 130%;
}
.hero-input{
    position: absolute;
    top: 70%;
    left: 45%;
    width: 40%;
    transform: translate(-50%, -50%);
}
.hero-search .button{
  position: absolute;
  top: 70%;
  left: 70.5%;
  transform: translate(-50%, -50%);
  background-color: #0076ba;
  color: white;
  font-size: 14px;
  padding: 8.5px 72px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.career-explore{
    display: flex;
}
.career-heading{
    margin-top: 70px;
    
}
.cat-image-2{
    height: 294px;
    width: 457px;
    background-image: url(/front-end-practice/assets/images/category-image-2.jpg);
    background-size: cover;
    background-position-x: center;
    box-shadow: 0 3000px rgba(224, 255, 255, .7) inset;
    margin-top: 50px;
    opacity: 0.5;
}
.cat-image-1{
    height: 294px;
    width: 457px;
    background-image: url(/front-end-practice/assets/images/category-image-1.jpg);
    background-size: cover;
    background-position-x: center;
    box-shadow: 0 3000px rgba(224, 255, 255, .7) inset;
    margin-top: 50px;
    margin-left: 280px;
    opacity: 0.5;
}
.blue-browse{
    height: 294px;
    width: 457px;
    background-size: cover;
    background-position-x: center;
    box-shadow: 0 3000px rgba(0, 118, 186, 1) inset;
    margin-top: 50px;
    
}
.cat-text-1{
    position: absolute;
    top: 100%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-size: 160%;
}
.font-awesome1{
    position: absolute;
    top: 96%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-size: 200%;
}
.font-awesome2{
    position: absolute;
    top: 96%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200%;
}
.cat-text-2{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 160%;
    
}
.font-awesome3{
    position: absolute;
    top: 96%;
    left: 75%;
    transform: translate(-50%, -50%);
    font-size: 200%;
}
.cat-text-3{
    position: absolute;
    top: 100%;
    left: 75%;
    transform: translate(-50%, -50%);
    font-size: 160%;
}
.featured-header{
    margin-top: 150px;
}
.featured-line{
   margin: auto;
   margin-top: 20px;
   color: #0076ba;
   opacity: 1;
} 
.star{
    color: gold;
}
.featured-section{
    justify-content: center;
    padding-top: 50px;
    width: 90%;
    margin-left: 95px;
}
.clerk-card{
    -moz-box-shadow: 0 0 15px #ccc;
    -webkit-box-shadow: 0 0 15px #ccc;
    box-shadow: 0 0 15px #ccc;
    z-index: 10;
}
.care-card{
   -moz-box-shadow: 0 0 15px #ccc;
    -webkit-box-shadow: 0 0 15px #ccc;
    box-shadow: 0 0 15px #ccc;
    z-index: 10;
}
.practice-card{
    -moz-box-shadow: 0 0 15px #ccc;
    -webkit-box-shadow: 0 0 15px #ccc;
    box-shadow: 0 0 15px #ccc;
    z-index: 10;
}
.gray-div{
    height: 150px;
    background-color: 	#909090;
    opacity: .18;
    z-index: .1;
    position: absolute;
    top: 147%;
    left: 15%;
}
.featured-jobs-div{
    margin-top: 50px;
    width: 88%;
}
.card-shadow{
    -moz-box-shadow: 0 0 15px #ccc;
    -webkit-box-shadow: 0 0 15px #ccc;
    box-shadow: 0 0 15px #ccc;
    
}
.explore-section{
    margin-top: 120px;
}
.explore-heading{
    padding-top: 40px;
}