.nav-width{
    width: 100%;
}
.woburn-logo{
    height: 80px;
    padding: 3px;
}
.nav-ul{
    color: #F0F8FF;
}
.hero-image{
    width: 100%;
    height: 500px;
    object-fit: cover;
    opacity: 0.5;
}
.img-div{
    position: relative;
    text-align: center;

}
.hero-text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 250%;
}
.hero-text2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 130%;
}
.hero-input{
    position: absolute;
    top: 70%;
    left: 45%;
    width: 40%;
    transform: translate(-50%, -50%);
}
.hero-search .button{
  position: absolute;
  top: 70%;
  left: 70.5%;
  transform: translate(-50%, -50%);
  background-color: #0076ba;
  color: white;
  font-size: 14px;
  padding: 8.5px 72px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.career-explore{
    display: flex;
}
.career-heading{
    margin-top: 70px;
    
}
.cat-image-2{
    height: 294px;
    width: 457px;
    background-image: url(/front-end-practice/assets/images/category-image-2.jpg);
    background-size: cover;
    background-position-x: center;
    box-shadow: 0 3000px rgba(224, 255, 255, .7) inset;
    margin-top: 50px;
    opacity: 0.5;
}
.cat-image-1{
    height: 294px;
    width: 457px;
    background-image: url(/front-end-practice/assets/images/category-image-1.jpg);
    background-size: cover;
    background-position-x: center;
    box-shadow: 0 3000px rgba(224, 255, 255, .7) inset;
    margin-top: 50px;
    margin-left: 280px;
    opacity: 0.5;
}
.blue-browse{
    height: 294px;
    width: 457px;
    background-size: cover;
    background-position-x: center;
    box-shadow: 0 3000px rgba(0, 118, 186, 1) inset;
    margin-top: 50px;
    
}
.cat-text-1{
    position: absolute;
    top: 100%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-size: 160%;
}
.font-awesome1{
    position: absolute;
    top: 96%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-size: 200%;
}
.font-awesome2{
    position: absolute;
    top: 96%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200%;
}
.cat-text-2{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 160%;
    
}
.font-awesome3{
    position: absolute;
    top: 96%;
    left: 75%;
    transform: translate(-50%, -50%);
    font-size: 200%;
}
.cat-text-3{
    position: absolute;
    top: 100%;
    left: 75%;
    transform: translate(-50%, -50%);
    font-size: 160%;
}
.featured-header{
    margin-top: 150px;
}
.featured-line{
   margin: auto;
   margin-top: 20px;
   color: #0076ba;
   opacity: 1;
} 
.star{
    color: gold;
}
.featured-section{
    justify-content: center;
    padding-top: 50px;
    width: 90%;
    margin-left: 95px;
}
.clerk-card{
    -moz-box-shadow: 0 0 15px #ccc;
    -webkit-box-shadow: 0 0 15px #ccc;
    box-shadow: 0 0 15px #ccc;
    z-index: 10;
}
.care-card{
   -moz-box-shadow: 0 0 15px #ccc;
    -webkit-box-shadow: 0 0 15px #ccc;
    box-shadow: 0 0 15px #ccc;
    z-index: 10;
}
.practice-card{
    -moz-box-shadow: 0 0 15px #ccc;
    -webkit-box-shadow: 0 0 15px #ccc;
    box-shadow: 0 0 15px #ccc;
    z-index: 10;
}
.gray-div{
    height: 150px;
    background-color: 	#909090;
    opacity: .18;
    z-index: .1;
    position: absolute;
    top: 147%;
    left: 15%;
}
.featured-jobs-div{
    margin-top: 50px;
    width: 88%;
}
.card-shadow{
    -moz-box-shadow: 0 0 15px #ccc;
    -webkit-box-shadow: 0 0 15px #ccc;
    box-shadow: 0 0 15px #ccc;
    
}
.explore-section{
    margin-top: 120px;
}
.explore-heading{
    padding-top: 40px;
}
.img-div-explore{
    margin: auto;
}
.explore-img-1{
    margin: auto;
    margin-top: 50px;
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
    z-index: 5;
}

.explore-img-2{
    margin: auto;
    margin-top: 50px;
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
    z-index: 5;
}
.explore-img-3{
    margin: auto;
    margin-top: 50px;
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
    z-index: 5;
}
.explore-img-4{
    margin: auto;
    margin-top: 50px;
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
    z-index: 5;
}
.explore-img-5{
    margin: auto;
    margin-top: 50px;
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
    z-index: 5;
}
.gray-explore-1{
    height: 250px;
    width: 24.8%;
    background-color: 	#FFFF;
    opacity: .8;
    z-index: 10;
    position: absolute;
    top: 201.9%;
    left: 24.5%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.gray-explore-2{
    height: 250.8px;
    width: 24.8%;
    background-color: 	#FFFF;
    opacity: .7;
    z-index: 10;
    position: absolute;
    top: 233.9%;
    left: 50.74%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.gray-explore-3{
    height: 250.8px;
    width: 24.8%;
    background-color: 	#FFFF;
    opacity: .7;
    z-index: 10;
    position: absolute;
    top: 265.9%;
    left: 24.5%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.gray-explore-4{
    height: 250.8px;
    width: 24.8%;
    background-color: 	#FFFF;
    opacity: .7;
    z-index: 10;
    position: absolute;
    top: 297.9%;
    left: 50.74%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.gray-explore-5{
    height: 250.8px;
    width: 24.8%;
    background-color: 	#FFFF;
    opacity: .7;
    z-index: 10;
    position: absolute;
    top: 329.9%;
    left: 24.5%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
}
#oakland{
    padding-left: 18px;
    padding-top: 40px;
}
#oakland-para{
    font-size: 90%;
    font-weight: 500;
    padding-left: 18px;
    padding-top: 10px;
}
#woburn{
    padding-left: 18px;
    padding-top: 40px;
}
#woburn-para{
    font-size: 90%;
    font-weight: 500;
    padding-left: 18px;
    padding-top: 10px;
}
#hayward{
    padding-left: 18px;
    padding-top: 40px;
}
#hayward-para{
    font-size: 90%;
    font-weight: 500;
    padding-left: 18px;
    padding-top: 10px;
}
#san-leandro{
   padding-left: 18px;
    padding-top: 40px; 
}
#san-leandro-para{
    font-size: 90%;
    font-weight: 500;
    padding-left: 18px;
    padding-top: 10px;
}
#boston{
    padding-left: 18px;
    padding-top: 40px; 
}
#boston-para{
    font-size: 90%;
    font-weight: 500;
    padding-left: 18px;
    padding-top: 10px;
}
#talent-section{
    background-color: #F5F5F5;
    width: 100%;
    z-index: 1;
    -webkit-box-shadow: 0 8px 6px -6px #A8A8A8;
	   -moz-box-shadow: 0 8px 6px -6px #A8A8A8;
	        box-shadow: 0 8px 6px -6px #A8A8A8;
}
.talent-header{
    margin: auto;
    text-align: center;
    position: absolute;
    left: 29%;
    top: 374%;
    text-align: left;
    font-size: 180%;
}
.talent-para{
    position: absolute;
    top: 384%;
    font-size: 93%;
    left: 29%;
    font-weight: 480;
}

.talent-search .talent-button{
    position: absolute;
  top: 384.5%;
  left: 59.9%;
  transform: translate(-50%, -50%);
  background-color: #00004d;
  color: white;
  font-size: 14px;
  padding: 8.5px 72px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  z-index: 10;
  
}
.working-header{
    position: absolute;
    left: 10%;
    top: 401%;
    font-size: 215%;
}
#working-para{
    position: absolute;
    width: 48%;
    text-align: left;
    left: 10%;
    top: 407.6%;
}
.benefits-img{
    width: 450px;
    height: 300px;
    object-fit: cover;
    padding-top: 15px;
    
    
}
.benefits-header{
padding-left: 11px;
padding-top: 11px;
font-size: 150%;
}
.benefits-para{
    width: 71%;
    padding-left: 11px;
    margin-top: -10px;
}
.learn-link{
    text-decoration: none;
    padding-left: 11px;
    margin-top: -5px;
}
.benefits-img-2{
    width: 450px;
    height: 300px;
    object-fit: cover;
}
#perks-div{
    position: absolute;
    left: 68%;
    top: 405%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 20px, rgba(0, 0, 0, 0.05) 0px 2px 20px;
}
.benefits-header-2{
padding-left: 11px;
padding-top: 11px;
font-size: 150%;
}
.benefits-para-2{
    width: 71%;
    padding-left: 11px;
    margin-top: -10px;
}

footer{
     position: absolute;
     top: 530%;
     width: 100%;
     background-color: #052c49;
     height: 75px;
}
#blue-footer-div{
    position: absolute;
     top: 516.1%;
     width: 100%;
     height: 130px;
     background-color: #0076ba;
}   
.follow-us{
    font-size: 150%;
    position: absolute;
    top: 20%;
    left: 78%;
}   
.social-buttons{
    position: absolute;
    top: 55%;
    left: 78%;
}  
.circle{
    height: 40px;
  width: 40px;
  background-color: #F5F5F5;
  border-radius: 50%;
  display: inline-block;
}
.facebook{
    color: #052c49;
    height: 25px;
    width: 25px;
    padding-top: 6px;
}
.twitter{
    color: #052c49;
    height: 25px;
    width: 25px;
    padding-top: 6px;
}
.youtube{
    color: #052c49;
    height: 25px;
    width: 25px;
    padding-top: 6px;
}
.linkedin{
    color: #052c49;
    height: 25px;
    width: 25px;
    padding-top: 6px;
}
.featured-jobs{
    text-decoration: none;
}
.working-header-2{
    position: absolute;
    left: 2.9%;
    top: 12%;
    font-size: 215%;
}
.quick-info{
    position: absolute;
    top: 18%;
    left: 2.9%;
    
}
.req-number{
    position: absolute;
    top: 39.9%;
    left: 18%;
}
.posted-date{
    position: absolute;
    top: 47.7%;
    left: 20%;
}
.summary{
    position: absolute;
    margin-top: 30px;
    font-size: 160%;
}
.opportunity{
    
    margin-top: 90px;

}
.margin-bottom{
    margin-bottom: -1px;
}
#working-para-2{
    position: absolute;
    width: 70%;
    text-align: left;
    left: 2.9%;
    top: 48%;
    font-size: 150%;
}
#working-para-3{
position: absolute;
    width: 70%;
    text-align: left;
    left: 2.9%;
    top: 58.7%;
    font-size: 150%;
}
#working-para-4{
    position: absolute;
    width: 70%;
    text-align: left;
    left: 2.9%;
    top: 64%;
    font-size: 150%;
}
#working-para-5{
    position: absolute;
    width: 70%;
    text-align: left;
    left: 2.9%;
    top: 69%;
    font-size: 150%;
}
#working-para-6{
    position: absolute;
    width: 73%;
    text-align: left;
    left: 2.9%;
    top: 74%;
    font-size: 150%;
}
#working-para-7{
    position: absolute;
    width: 70%;
    text-align: left;
    left: 2.9%;
    top: 83%;
    font-size: 150%;
}
.related-jobs{
    font-size: 140%;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 15px;
}
.line{
    margin-top: -1px;
}
.learn-link-2{
    text-decoration: none;
    padding-left: 11px;
    margin-top: -5px;
}
#perks-div-2{
    position: absolute;
    left: 79.2%;
    top: 13%;
    width: 19%;
    border: none;
}
.border-cust{
    border: 2px 0px 2px 0px;
}
.general-surgeon{
    padding-left: 11px;
    padding-top: 11px;
    font-size: 125%;
    text-decoration: none;
    padding-bottom: 20px;
}
.benefits-para-2{
    width: 71%;
    padding-left: 11px;
    margin-top: -10px;
}
.benefits-para-3{
    width: 71%;
    padding-left: 11px;
    margin-top: 3px;
}
.benefits-para-4{
    width: 71%;
    padding-left: 11px;
    margin-top: 3px;
}
.benefits-para-5{
    width: 71%;
    padding-left: 11px;
    margin-top: 3px;
}
.benefits-para-6{
    width: 71%;
    padding-left: 11px;
    margin-top: 3px;
}
.benefits-header-3{
padding-left: 11px;
padding-top: 11px;
font-size: 125%;
text-decoration: none;
font-weight: 400;
}
.benefits-header-4{
padding-left: 11px;
padding-top: 11px;
font-size: 125%;
text-decoration: none;
font-weight: 400;
}
.benefits-header-5{
padding-left: 11px;
padding-top: 11px;
font-size: 125%;
text-decoration: none;
font-weight: 400;
}
.benefits-header-6{
padding-left: 11px;
padding-top: 11px;
font-size: 125%;
text-decoration: none;
font-weight: 400;
}
.benefits-para-2{
    width: 71%;
    padding-left: 11px;
    margin-top: -10px;
}
.footer-darkBlue{
     position: absolute;
     top: 128.9%;
     width: 100%;
     background-color: #052c49;
     height: 75px;
}
#blue-footer-div-2{
    position: absolute;
     top: 115%;
     width: 100%;
     height: 130px;
     background-color: #0076ba;
}   
.follow-us-2{
    font-size: 150%;
    position: absolute;
    top: 20%;
    left: 78%;
}   
.social-buttons-2{
    position: absolute;
    top: 55%;
    left: 78%;
}  
.circle-2{
    height: 40px;
  width: 40px;
  background-color: #F5F5F5;
  border-radius: 50%;
  display: inline-block;
}
.facebook-2{
    color: #052c49;
    height: 25px;
    width: 25px;
    padding-top: 6px;
}
.twitter-2{
    color: #052c49;
    height: 25px;
    width: 25px;
    padding-top: 6px;
}
.youtube-2{
    color: #052c49;
    height: 25px;
    width: 25px;
    padding-top: 6px;
}
.linkedin-2{
    color: #052c49;
    height: 25px;
    width: 25px;
    padding-top: 6px;
}
.bgGray{
    background-color: #E8E8E8;
    
}
.not-right-fit{
    margin-top: 15px;
    font-size: 130%;
    font-weight: 400;
}
.join-network{
    margin-top: -12px;
}
.button-div .join-button{
    background-color: #052c49;
}
.join-button{
    margin-left: -11px;
    margin-bottom: 20px;
}
.button-div .apply-now{
    background-color: #0076ba;
}
.apply-now{
    position: absolute;
    top: 18.8%;
    left: 60%;
    width: 12%;
    height: 5%;    
}
.button-div .save-job{
    background-color: #E8E8E8;
}
.save-job{
    position: absolute;
    top: 23.8%;
    left: 60%;
    width: 12%;
    height: 5%; 
}
.share-div{
    position: absolute;
    top: 104%;
    left: 3.2%;
}
.button-div-2 .apply-now-2{
    background-color: #0076ba;
}
.apply-now-2{
    position: absolute;
    top: 18.8%;
    left: 675%;
    width: 160%;
    height: 95%;    
}
.text-decoration{
    text-decoration: none;
}